<% title "Productfeeds" %>

<table>
  <tr>
    <th>Naam</th>
    <th></th>
    <th></th>
    <th></th>
    
  </tr>
  <% for productfeed in @productfeeds %>
    <tr>
      <td><%= productfeed.name %></td>
      <td><%= link_to "Bekijk", productfeed %></td>
      <td><%= link_to "Bewerk", edit_productfeed_path(productfeed) %></td>
      <td><%= link_to "Verwijder", productfeed, :confirm => 'Weet je het zeker? Alle producten die eraan gekoppeld zijn worden dan ook verwijderd...', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Nieuwe Productfeed", new_productfeed_path %></p>
