<style>
html{
  padding: 0px;
}

body{
  padding: 0px;
  margin: 0px;
  font-family: arial,sans-serif;
  font-size: 14px;
}
/* GENERAL */

.tags {
  margin-right: 5px;
  float: left;
}
.tags span{
  float: left;
  margin: 0px;
  font-size: 9px;
/*  background: red;*/
  text-decoration: underline;
}

.company {
  font-size: 9px;
  color: #999;
}


.buy_btn {
  margin-top: 5px;
  text-align: center;
}
.buy_btn span{
  display: block;
  background: #F6F6F6;
  border: 1px solid #ccc;
  width: 80px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 5px;
  color: #222;
  text-decoration: none;
  font-weight: bold;
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */  
}
.buy_btn a:hover{
  background: #cccccc; /* Old browsers */
  background: -moz-linear-gradient(top, #cccccc 0%, #eeeeee 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cccccc 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cccccc 0%,#eeeeee 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #cccccc 0%,#eeeeee 100%); /* IE10+ */
  background: linear-gradient(to bottom, #cccccc 0%,#eeeeee 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}


.banner_example{
  margin: 10px;
  border: 1px solid #dedede;
}

.description{
  font-size: 9px;
}

.banner_products a{
  text-decoration: none;
  color: #000;
  display: block;
}

.banner_product div{
}



/* WIDE SKYSCRAPER */
.wide-skyscraper {
  padding: 4px;
  padding-right: 0px;
}
.wide-skyscraper h3{
  font-size: 12px;
  margin-bottom: -10px;
  margin-top: 0px;
}

.wide-skyscraper .banner_product {
  width: 152px;
  height: 186px;
  margin-bottom: 8px;
/*  overflow:hidden;*/
}
.wide-skyscraper img{
  margin-right: 10px;
  width: 146px !important;
  height: 90px !important;
  overflow: hidden;
}

.wide-skyscraper .price {
  display: block;
  font-size: 12px;
  float: right;
  font-weight: bold;
}



/* LARGE RECTANGLE */
.large-rectangle {
  padding: 4px;
}
.large-rectangle h3{
  font-size: 12px;
  margin-bottom: -10px;
  margin-top: 0px;
}

.large-rectangle .price {
  display: block;
  font-size: 12px;
  float: right;
  font-weight: bold;
}

.large-rectangle .banner_product {
  width: 325px;
  margin-right: 4px;
  height: 82px;
  margin-bottom: 8px;
/*  overflow:hidden;*/
}
.large-rectangle img{
  float: left;
  margin-right: 10px;
  width: 100px;
  height: 82px;
  overflow: hidden;
}


/*LEADERBOARD */
.leaderboard {
  font-size: 11px;
  padding: 3px;
}

.leaderboard .banner_product {
  width: 230px;
  float: left;
  margin-right: 5px;
  height: 80px;
  overflow:hidden;
}

.leaderboard h3{
  font-size: 11px;
  margin-bottom: -10px;
  margin-top: 0px;
  max-height: 22px;
  overflow: hidden;
}

h4 {
  font-size: 10px;
}

.leaderboard .description{
  font-size: 9px;
}

.leaderboard img{
  float: left;
  margin-right: 6px;
  width: 100px;
  height: 92px;
  overflow: hidden;
}


.leaderboard .price {
  display: block;
  font-size: 12px;
  float: right;
  font-weight: bold;
}




/* DAGJEWEG 688*/
.dagjeweg-688x280 {
  font-size: 11px;
  padding: 3px;
}

.dagjeweg-688x280 .banner_product {
  width: 320px;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  height: 120px;
  overflow:hidden;
  border: 1px solid #dedede;
  padding: 3px;
}

.dagjeweg-688x280 h3{
  font-size: 13px;
  margin-bottom: -10px;
  margin-top: 0px;
  max-height: 28px;
  overflow: hidden;
}

.dagjeweg-688x280 h4 {
  font-size: 10px;
}

.dagjeweg-688x280 .description{
  font-size: 11px;
}

.dagjeweg-688x280 .tags span{
  margin-top: 5px;
  font-size: 11px;
}


.dagjeweg-688x280 img{
  float: left;
  margin-right: 6px;
  width: 130px;
  height: 115px;
  overflow: hidden;
}


.dagjeweg-688x280 .price {
  display: block;
  font-size: 18px;
  float: right;
  font-weight: bold;
}

/* DAGJEWEG 688*/
.dagjeweg-488x280 {
  font-size: 11px;
  padding: 3px;
}

.dagjeweg-488x280 .banner_product {
  width: 475px;
  float: left;

  margin-bottom: 5px;
  height: 125px;
  overflow:hidden;
  border-bottom: 1px solid #dedede;
  padding: 3px;
}
.dagjeweg-488x280 .banner_product:last-child {
 border: none; 
 margin-top: 3px;
}
.dagjeweg-488x280 h3{
  font-size: 13px;
  margin-bottom: -10px;
  margin-top: 0px;
  max-height: 28px;
  overflow: hidden;
}

.dagjeweg-488x280 h4 {
  font-size: 10px;
}

.dagjeweg-488x280 .description{
  font-size: 11px;
}

.dagjeweg-488x280 .tags span{
  margin-top: 5px;
  font-size: 11px;
}


.dagjeweg-488x280 img{
  float: left;
  margin-right: 6px;
  width: 180px;
  height: 115px;
  overflow: hidden;
}


.dagjeweg-488x280 .price {
  display: block;
  font-size: 18px;
  float: right;
  font-weight: bold;
}



<%= @banner.custom_css %>

</style>

<div class="banner_products <%= @style[:name].parameterize %>">
<% for product in @banner.products.order(Rails.env == 'production' ? 'RAND()' : 'random()').paginate(:page => params[:page], :per_page => @style[:per_page])%>
  <a href="<%= custom_url(product.url, @banner)%>" target="_blank" class="banner_product">
    <%= image_tag(product.image) if product.image.present? %>
    <span class="company"><%= product.productfeed.name %></span>
    
    <h3><%= truncate(product.title, :length => 60, :omission => '...') %></h3>
    <h4><%= product.byline %></h4>
    <div class="description"><%= raw truncate(strip_tags(product.description).gsub('&bnsp;', ' '), :length => @style[:text_length], :omission => '...') %></div>
    <div class="tags">

      <% [1,2,3].each do |i|%>
        <span><%= product.send("extra_info#{i}") %></span>
       <% end %>
     </div>
    
     <span class="price"><%= product_price(product).html_safe %></span>     
    </a>
<% end %>
</div>